/* ==========================================================================
   Anchors
   ========================================================================== */
a {
  text-decoration: none;
  color: $primary-color;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
.button {
    text-align: center;
    background: $primary-color;
    padding: 10px;
    border:none;
    color: #fff;
}

.button {
    &.full {
        width: 100%;
    }
}

/* ==========================================================================
   Buttons
   ========================================================================== */
h1, h2, h3 {
    font-weight: 400;
}