/* ==========================================================================
   Grid settings
   ========================================================================== */

$column: 70px;
$gutter: 30px;
$grid-columns: 12;
$max-width: 100%;

/* ==========================================================================
   Visual grid settings
   ========================================================================== */
$visual-grid: false;
$visual-grid-color: gray;

/* ==========================================================================
   Custom settings
   ========================================================================== */
$lioRed:            #F0523F;
$lioGrey:           #444;
$topbar-bg:         $lioGrey;

$primary-color:     $lioRed;
$secondary-color:   $lioGrey;