.forum {
    .header-divider {
        margin: 10.5px 0 21px 0;
    }

    .forum-content {
        overflow-wrap: break-word;

        img {
            max-width: 100%;
        }

        p {
            font-size: 17px;
            line-height: 1.625;
        }
    }

    .thread-info {
        display: flex;

        .thread-info-avatar, .thread-info-tags {
            flex: 0 0 auto;
        }

        .thread-info-avatar {
            margin-right: 5px;

            img {
                max-width: 25px;
            }
        }

        .thread-info-tags {
            text-align: right;
        }

        .thread-info-author {
            flex: 1 1 auto;
            line-height: 1.6;
        }

        .thread-info-badge {
            margin-left: 10px;
        }
    }

    .panel-success {
        .thread-info-link {
            color: #fff;
        }
    }
}
