/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    margin: 1em 0;
    padding: 0;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    padding: 0.2em 0;
    background: #ccc;
    color: #000;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
    background-color: #fff;
}

article {
    overflow: hidden;
}

article, .row
{
    position: relative;
    margin: auto;
    padding:0 5%;
    width:90%;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
}

footer
{
    position: relative;
    margin: auto;
    padding:10px 5%;
    width:90%;
    background-color: #4c4c4c;
    color:#fff;
    font-size:11px;
}

.row:last-child
{
    border:none;
}

#disqus
{
    background-color: white;
}

/* Header */
header
{
    text-align: center;
}

header a
{
    display: inline-block;
    margin: auto;
    padding:0 0 25px 0;
}

pre
{
    padding: 8px;
    -webkit-border-radius:5px;
    border-radius: 5px;
}

code
{
    display: block;
    padding: 5px;
    font-size:12px;
}

/* Article navigation */

.arrow
{
    position: absolute;
    display: block;
    width:40px;
    height:70px;
    background-color: #4c4c4c;
}

.arrow:hover
{
    background-color: #f0523f;
}

.arrow.left
{
    top:0px;
    left:-0px;
    background-image:url(../img/arrow-left.png);
}

.arrow.right
{
    top:0px;
    right:0px;
    background-image:url(../img/arrow-right.png);
}

/* Article footer */

article aside
{
    display: block;
    width: 100%;
    padding:13px 0 10px 0;
    float: left;
}

ul
{
    margin: 0;
    padding: 5px 0;
    list-style-type: none;
    min-height: 20px;
}

ul li
{
    display: block;
    float:left;
    margin:0 5px 5px 0;
    font-size: 13px;
    line-height: 22px;
}

ul li a
{
    padding:3px 5px;
    -webkit-border-radius:3px;
    background-color: #f0523f;
    color:#fff;
}

ul li a:hover
{
    background-color: #4C4C4C;
    color:white;
}


/* Latest posts */

.latest
{
    padding:0 0 20px 0;
}

.latest li
{
    font-size:15px;
    line-height: 30px;
    float:none;
    color:#999;
}

.latest li a
{
    color:#f0523f;
    display: inline;
    background: none;
}

.latest li a:hover
{
    background: none;
    color:#4C4C4C;
}

.latest span
{
    display: none;
}

/* Text */

h1,h2,h3,h4,h5
{
    color:#4C4C4C;
}

/* Text - Post header */

h1
{
    font-size:24px;
    margin: 0;
    text-align: center;
}

h2
{
    font-size:24px;
    margin: 0;
    padding:0 35px;
    text-align: center;
}

h2 a
{
    color:#4C4C4C;
}

h2 a:hover
{
    color:#f0523f;
}

/* Text - Post information */

.postinformation
{
   color:#999;
   text-align: center;
   font-size:13px;
}

/* Text - Body text */
p, article li
{
    color:#4C4C4C;
    font-size:13px;
    line-height: 22px;
}

a, p a
{
    color:#f0523f;
    text-decoration: none;
}

a:hover
{
    color:#4C4C4C;
}

/* Tag slider */

.tags
{
    position: relative;
    display: none;
    padding:0 0 15px 0;
    background-color: #4C4C4C;
}

.tags .row
{
    background-color: #4C4C4C;
}

.tags h5
{
    margin: 0px;
    padding: 10px 0;
    color:white;
    font-weight: bold;
    font-size:14px;
    text-align: center;
}

.tags ul
{
    margin: 0 auto 35px auto;
}

.tags input
{
    display: block;
    margin: 0 auto 15px auto;
    padding:5px;
    border:0;
    -webkit-border-radius:5px;
    border-radius: 5px;
    font-size:13px;
}

.tags li a:hover
{
    background-color: white;
    color:#4C4C4C;
}

#showhide
{
    position: absolute;
    top:0px;
    right:25px;
    display: block;
    padding:2px 0 7px 0;
    width:30px;
    -webkit-border-radius:0 0 3px 3px;
    border-radius:0 0 3px 3px;
    background-color: #4C4C4C;
}

#showhide:hover
{
    background-color: #f0523f
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    overflow: hidden;
    /* IE 6/7 fallback */
    border: 0;
    background-color: transparent;
    *text-indent: -9999px;
}

.ir:before {
    display: block;
    width: 0;
    height: 100%;
    content: "";
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    position: static;
    overflow: visible;
    clip: auto;
    margin: 0;
    width: auto;
    height: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    display: table; /* 2 */
    content: " "; /* 1 */
}

.clearfix:after {
    clear: both;
}

.row:before,
.row:after {
    display: table; /* 2 */
    content: " "; /* 1 */
}

.row:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/** RECENT TOPICS **/
.recent-topics {
    display: block;
    position: relative;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    margin: 0 0 10px 0;
}

.recent-topics p {
    display: inline-block;
    position: relative;
    font-weight: bold;
    color: #f0523f;
}

.recent-topics p:first-child {
    padding-right: 60px;
}

/** BOOKS SECTION **/

.books-with-border {
    display: block;
    position: relative;
    height: 200px;
    padding-top: 20px;
    border-bottom: 1px solid #CCC;
    border-top: 1px solid #CCC;
    margin-bottom: 30px;
    float: left;
}

.books {
    display: block;
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.words {
    display: block;
    position: relative;
    width: 250px;
    float: left;
}

.words h1 {
    text-align: left;
}

.words p {
    color: #aaa;
    font-style: oblique;
}

.book {
    display: block;
    position: relative;
    width: 200px;
    float: right;
}

.book .title, .book .author {
    font-size: 12px;
    text-align: center;
}

.book .title {
    margin-top: 10px;
    font-weight: bold;
}

.book .author {
    font-style: oblique;
}

.book img {
    display: block;
    margin: 0 auto;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {

body
{
    background-color: #f0523f;
}
  article, .row, footer
    {
        padding:0 25px;
        width:700px;
    }

    footer
    {
        padding:10px 25px;
    }


.columns
{
    float:left;
}

.four
{
    width:40%;
}

.eight
{
    width:60%;
}

.tags h5
{
    text-align: left;
}

.tags input
{
    margin: 0;
}

.latest span
{
    display: inline;
}


.arrow.left
{
    left:-40px;
    -webkit-border-radius: 5px 0 0 5px ;
    border-radius: 5px 0 0 5px ;
}

.arrow.right
{
    right:-40px;
    -webkit-border-radius:  0 5px 5px 0 ;
    border-radius: 0 5px 5px 0 ;
}

    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        box-shadow: none !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
