/* ==========================================================================
   Neat helpers
   ========================================================================== */
/* ==========================================================================
   Settings
   ========================================================================== */
/* ==========================================================================
   Grid settings
   ========================================================================== */
/* ==========================================================================
   Visual grid settings
   ========================================================================== */
/* ==========================================================================
   Custom settings
   ========================================================================== */
/* ==========================================================================
   Foundation settings
   ========================================================================== */
/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
   Foundation settings
   ========================================================================== */
/* ==========================================================================
   Vendor
   ========================================================================== */
/*! normalize.css v2.1.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../scss/vendor/normalize/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../scss/vendor/normalize/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../scss/vendor/normalize/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 50, ../scss/vendor/normalize/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Prevent system color scheme's background color being used in Firefox, IE,
 *    and Opera.
 * 2. Prevent system color scheme's text color being used in Firefox, IE, and
 *    Opera.
 * 3. Set default font family to sans-serif.
 * 4. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 68, ../scss/vendor/normalize/_normalize.scss */
html {
  background: #fff;
  /* 1 */
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
}

/**
 * Remove default margin.
 */
/* line 80, ../scss/vendor/normalize/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 92, ../scss/vendor/normalize/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 101, ../scss/vendor/normalize/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 114, ../scss/vendor/normalize/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 123, ../scss/vendor/normalize/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 132, ../scss/vendor/normalize/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 140, ../scss/vendor/normalize/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 148, ../scss/vendor/normalize/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 158, ../scss/vendor/normalize/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 170, ../scss/vendor/normalize/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 179, ../scss/vendor/normalize/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 187, ../scss/vendor/normalize/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 195, ../scss/vendor/normalize/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 204, ../scss/vendor/normalize/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 211, ../scss/vendor/normalize/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 215, ../scss/vendor/normalize/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 227, ../scss/vendor/normalize/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 235, ../scss/vendor/normalize/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 247, ../scss/vendor/normalize/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 259, ../scss/vendor/normalize/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 270, ../scss/vendor/normalize/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 284, ../scss/vendor/normalize/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 296, ../scss/vendor/normalize/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 308, ../scss/vendor/normalize/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 323, ../scss/vendor/normalize/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 333, ../scss/vendor/normalize/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
/* line 343, ../scss/vendor/normalize/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 354, ../scss/vendor/normalize/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 367, ../scss/vendor/normalize/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 376, ../scss/vendor/normalize/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 386, ../scss/vendor/normalize/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 399, ../scss/vendor/normalize/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 2, ../scss/vendor/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../scss/vendor/neat/grid/_visual-grid.scss */
body:before {
  content: '';
  display: inline-block;
  background-image: deprecated-webkit-gradient(linear, left top, left bottom, rgba(0, 0, 0, 0) 0, gray 0, gray 5.98291%, rgba(0, 0, 0, 0) 5.98291%, rgba(0, 0, 0, 0) 8.54701%, gray 8.54701%, gray 14.52991%, rgba(0, 0, 0, 0) 14.52991%, rgba(0, 0, 0, 0) 17.09402%, gray 17.09402%, gray 23.07692%, rgba(0, 0, 0, 0) 23.07692%, rgba(0, 0, 0, 0) 25.64103%, gray 25.64103%, gray 31.62393%, rgba(0, 0, 0, 0) 31.62393%, rgba(0, 0, 0, 0) 34.18803%, gray 34.18803%, gray 40.17094%, rgba(0, 0, 0, 0) 40.17094%, rgba(0, 0, 0, 0) 42.73504%, gray 42.73504%, gray 48.71795%, rgba(0, 0, 0, 0) 48.71795%, rgba(0, 0, 0, 0) 51.28205%, gray 51.28205%, gray 57.26496%, rgba(0, 0, 0, 0) 57.26496%, rgba(0, 0, 0, 0) 59.82906%, gray 59.82906%, gray 65.81197%, rgba(0, 0, 0, 0) 65.81197%, rgba(0, 0, 0, 0) 68.37607%, gray 68.37607%, gray 74.35897%, rgba(0, 0, 0, 0) 74.35897%, rgba(0, 0, 0, 0) 76.92308%, gray 76.92308%, gray 82.90598%, rgba(0, 0, 0, 0) 82.90598%, rgba(0, 0, 0, 0) 85.47009%, gray 85.47009%, gray 91.45299%, rgba(0, 0, 0, 0) 91.45299%, rgba(0, 0, 0, 0) 94.01709%, gray 94.01709%, gray 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0, gray 0, gray 5.98291%, rgba(0, 0, 0, 0) 5.98291%, rgba(0, 0, 0, 0) 8.54701%, gray 8.54701%, gray 14.52991%, rgba(0, 0, 0, 0) 14.52991%, rgba(0, 0, 0, 0) 17.09402%, gray 17.09402%, gray 23.07692%, rgba(0, 0, 0, 0) 23.07692%, rgba(0, 0, 0, 0) 25.64103%, gray 25.64103%, gray 31.62393%, rgba(0, 0, 0, 0) 31.62393%, rgba(0, 0, 0, 0) 34.18803%, gray 34.18803%, gray 40.17094%, rgba(0, 0, 0, 0) 40.17094%, rgba(0, 0, 0, 0) 42.73504%, gray 42.73504%, gray 48.71795%, rgba(0, 0, 0, 0) 48.71795%, rgba(0, 0, 0, 0) 51.28205%, gray 51.28205%, gray 57.26496%, rgba(0, 0, 0, 0) 57.26496%, rgba(0, 0, 0, 0) 59.82906%, gray 59.82906%, gray 65.81197%, rgba(0, 0, 0, 0) 65.81197%, rgba(0, 0, 0, 0) 68.37607%, gray 68.37607%, gray 74.35897%, rgba(0, 0, 0, 0) 74.35897%, rgba(0, 0, 0, 0) 76.92308%, gray 76.92308%, gray 82.90598%, rgba(0, 0, 0, 0) 82.90598%, rgba(0, 0, 0, 0) 85.47009%, gray 85.47009%, gray 91.45299%, rgba(0, 0, 0, 0) 91.45299%, rgba(0, 0, 0, 0) 94.01709%, gray 94.01709%, gray 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0, gray 0, gray 5.98291%, rgba(0, 0, 0, 0) 5.98291%, rgba(0, 0, 0, 0) 8.54701%, gray 8.54701%, gray 14.52991%, rgba(0, 0, 0, 0) 14.52991%, rgba(0, 0, 0, 0) 17.09402%, gray 17.09402%, gray 23.07692%, rgba(0, 0, 0, 0) 23.07692%, rgba(0, 0, 0, 0) 25.64103%, gray 25.64103%, gray 31.62393%, rgba(0, 0, 0, 0) 31.62393%, rgba(0, 0, 0, 0) 34.18803%, gray 34.18803%, gray 40.17094%, rgba(0, 0, 0, 0) 40.17094%, rgba(0, 0, 0, 0) 42.73504%, gray 42.73504%, gray 48.71795%, rgba(0, 0, 0, 0) 48.71795%, rgba(0, 0, 0, 0) 51.28205%, gray 51.28205%, gray 57.26496%, rgba(0, 0, 0, 0) 57.26496%, rgba(0, 0, 0, 0) 59.82906%, gray 59.82906%, gray 65.81197%, rgba(0, 0, 0, 0) 65.81197%, rgba(0, 0, 0, 0) 68.37607%, gray 68.37607%, gray 74.35897%, rgba(0, 0, 0, 0) 74.35897%, rgba(0, 0, 0, 0) 76.92308%, gray 76.92308%, gray 82.90598%, rgba(0, 0, 0, 0) 82.90598%, rgba(0, 0, 0, 0) 85.47009%, gray 85.47009%, gray 91.45299%, rgba(0, 0, 0, 0) 91.45299%, rgba(0, 0, 0, 0) 94.01709%, gray 94.01709%, gray 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0, gray 0, gray 5.98291%, rgba(0, 0, 0, 0) 5.98291%, rgba(0, 0, 0, 0) 8.54701%, gray 8.54701%, gray 14.52991%, rgba(0, 0, 0, 0) 14.52991%, rgba(0, 0, 0, 0) 17.09402%, gray 17.09402%, gray 23.07692%, rgba(0, 0, 0, 0) 23.07692%, rgba(0, 0, 0, 0) 25.64103%, gray 25.64103%, gray 31.62393%, rgba(0, 0, 0, 0) 31.62393%, rgba(0, 0, 0, 0) 34.18803%, gray 34.18803%, gray 40.17094%, rgba(0, 0, 0, 0) 40.17094%, rgba(0, 0, 0, 0) 42.73504%, gray 42.73504%, gray 48.71795%, rgba(0, 0, 0, 0) 48.71795%, rgba(0, 0, 0, 0) 51.28205%, gray 51.28205%, gray 57.26496%, rgba(0, 0, 0, 0) 57.26496%, rgba(0, 0, 0, 0) 59.82906%, gray 59.82906%, gray 65.81197%, rgba(0, 0, 0, 0) 65.81197%, rgba(0, 0, 0, 0) 68.37607%, gray 68.37607%, gray 74.35897%, rgba(0, 0, 0, 0) 74.35897%, rgba(0, 0, 0, 0) 76.92308%, gray 76.92308%, gray 82.90598%, rgba(0, 0, 0, 0) 82.90598%, rgba(0, 0, 0, 0) 85.47009%, gray 85.47009%, gray 91.45299%, rgba(0, 0, 0, 0) 91.45299%, rgba(0, 0, 0, 0) 94.01709%, gray 94.01709%, gray 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0, gray 0, gray 5.98291%, rgba(0, 0, 0, 0) 5.98291%, rgba(0, 0, 0, 0) 8.54701%, gray 8.54701%, gray 14.52991%, rgba(0, 0, 0, 0) 14.52991%, rgba(0, 0, 0, 0) 17.09402%, gray 17.09402%, gray 23.07692%, rgba(0, 0, 0, 0) 23.07692%, rgba(0, 0, 0, 0) 25.64103%, gray 25.64103%, gray 31.62393%, rgba(0, 0, 0, 0) 31.62393%, rgba(0, 0, 0, 0) 34.18803%, gray 34.18803%, gray 40.17094%, rgba(0, 0, 0, 0) 40.17094%, rgba(0, 0, 0, 0) 42.73504%, gray 42.73504%, gray 48.71795%, rgba(0, 0, 0, 0) 48.71795%, rgba(0, 0, 0, 0) 51.28205%, gray 51.28205%, gray 57.26496%, rgba(0, 0, 0, 0) 57.26496%, rgba(0, 0, 0, 0) 59.82906%, gray 59.82906%, gray 65.81197%, rgba(0, 0, 0, 0) 65.81197%, rgba(0, 0, 0, 0) 68.37607%, gray 68.37607%, gray 74.35897%, rgba(0, 0, 0, 0) 74.35897%, rgba(0, 0, 0, 0) 76.92308%, gray 76.92308%, gray 82.90598%, rgba(0, 0, 0, 0) 82.90598%, rgba(0, 0, 0, 0) 85.47009%, gray 85.47009%, gray 91.45299%, rgba(0, 0, 0, 0) 91.45299%, rgba(0, 0, 0, 0) 94.01709%, gray 94.01709%, gray 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0, gray 0, gray 5.98291%, rgba(0, 0, 0, 0) 5.98291%, rgba(0, 0, 0, 0) 8.54701%, gray 8.54701%, gray 14.52991%, rgba(0, 0, 0, 0) 14.52991%, rgba(0, 0, 0, 0) 17.09402%, gray 17.09402%, gray 23.07692%, rgba(0, 0, 0, 0) 23.07692%, rgba(0, 0, 0, 0) 25.64103%, gray 25.64103%, gray 31.62393%, rgba(0, 0, 0, 0) 31.62393%, rgba(0, 0, 0, 0) 34.18803%, gray 34.18803%, gray 40.17094%, rgba(0, 0, 0, 0) 40.17094%, rgba(0, 0, 0, 0) 42.73504%, gray 42.73504%, gray 48.71795%, rgba(0, 0, 0, 0) 48.71795%, rgba(0, 0, 0, 0) 51.28205%, gray 51.28205%, gray 57.26496%, rgba(0, 0, 0, 0) 57.26496%, rgba(0, 0, 0, 0) 59.82906%, gray 59.82906%, gray 65.81197%, rgba(0, 0, 0, 0) 65.81197%, rgba(0, 0, 0, 0) 68.37607%, gray 68.37607%, gray 74.35897%, rgba(0, 0, 0, 0) 74.35897%, rgba(0, 0, 0, 0) 76.92308%, gray 76.92308%, gray 82.90598%, rgba(0, 0, 0, 0) 82.90598%, rgba(0, 0, 0, 0) 85.47009%, gray 85.47009%, gray 91.45299%, rgba(0, 0, 0, 0) 91.45299%, rgba(0, 0, 0, 0) 94.01709%, gray 94.01709%, gray 100%, rgba(0, 0, 0, 0) 100%);
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 1200px;
  opacity: 0.2;
  position: fixed;
  right: 0;
  width: 100%;
  pointer-events: none;
  z-index: 9999;
}

/* ==========================================================================
   Components from other frameworks
   ========================================================================== */
/* line 264, ../scss/vendor/foundation/_global.scss */
meta.foundation-mq-small {
  font-family: "only screen and (min-width: 768px)";
  width: 768px;
}

/* line 269, ../scss/vendor/foundation/_global.scss */
meta.foundation-mq-medium {
  font-family: "only screen and (min-width: 1280px)";
  width: 1280px;
}

/* line 274, ../scss/vendor/foundation/_global.scss */
meta.foundation-mq-large {
  font-family: "only screen and (min-width: 1440px)";
  width: 1440px;
}

/* line 292, ../scss/vendor/foundation/_global.scss */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 297, ../scss/vendor/foundation/_global.scss */
html,
body {
  font-size: 100%;
}

/* line 300, ../scss/vendor/foundation/_global.scss */
body {
  background: white;
  color: #222222;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  position: relative;
  cursor: default;
}

/* line 313, ../scss/vendor/foundation/_global.scss */
a:hover {
  cursor: pointer;
}

/* line 318, ../scss/vendor/foundation/_global.scss */
img,
object,
embed {
  max-width: 100%;
  height: auto;
}

/* line 321, ../scss/vendor/foundation/_global.scss */
object,
embed {
  height: 100%;
}

/* line 322, ../scss/vendor/foundation/_global.scss */
img {
  -ms-interpolation-mode: bicubic;
}

/* line 328, ../scss/vendor/foundation/_global.scss */
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important;
}

/* line 333, ../scss/vendor/foundation/_global.scss */
.left {
  float: left !important;
}

/* line 334, ../scss/vendor/foundation/_global.scss */
.right {
  float: right !important;
}

/* line 335, ../scss/vendor/foundation/_global.scss */
.text-left {
  text-align: left !important;
}

/* line 336, ../scss/vendor/foundation/_global.scss */
.text-right {
  text-align: right !important;
}

/* line 337, ../scss/vendor/foundation/_global.scss */
.text-center {
  text-align: center !important;
}

/* line 338, ../scss/vendor/foundation/_global.scss */
.text-justify {
  text-align: justify !important;
}

/* line 339, ../scss/vendor/foundation/_global.scss */
.hide {
  display: none;
}

/* line 345, ../scss/vendor/foundation/_global.scss */
.antialiased {
  -webkit-font-smoothing: antialiased;
}

/* line 348, ../scss/vendor/foundation/_global.scss */
img {
  display: inline-block;
  vertical-align: middle;
}

/* line 358, ../scss/vendor/foundation/_global.scss */
textarea {
  height: auto;
  min-height: 50px;
}

/* line 361, ../scss/vendor/foundation/_global.scss */
select {
  width: 100%;
}

/* Grid HTML Classes */
/* line 116, ../scss/vendor/foundation/_grid.scss */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 62.5em;
  *zoom: 1;
}
/* line 121, ../scss/vendor/foundation/_global.scss */
.row:before, .row:after {
  content: " ";
  display: table;
}
/* line 122, ../scss/vendor/foundation/_global.scss */
.row:after {
  clear: both;
}
/* line 121, ../scss/vendor/foundation/_grid.scss */
.row.collapse > .column,
.row.collapse > .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
  float: left;
}
/* line 123, ../scss/vendor/foundation/_grid.scss */
.row.collapse .row {
  margin-left: 0;
  margin-right: 0;
}
/* line 126, ../scss/vendor/foundation/_grid.scss */
.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}
/* line 121, ../scss/vendor/foundation/_global.scss */
.row .row:before, .row .row:after {
  content: " ";
  display: table;
}
/* line 122, ../scss/vendor/foundation/_global.scss */
.row .row:after {
  clear: both;
}
/* line 127, ../scss/vendor/foundation/_grid.scss */
.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}
/* line 121, ../scss/vendor/foundation/_global.scss */
.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}
/* line 122, ../scss/vendor/foundation/_global.scss */
.row .row.collapse:after {
  clear: both;
}

/* line 132, ../scss/vendor/foundation/_grid.scss */
.column,
.columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
  float: left;
}

@media only screen {
  /* line 137, ../scss/vendor/foundation/_grid.scss */
  .column,
  .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  /* line 140, ../scss/vendor/foundation/_grid.scss */
  .small-1 {
    position: relative;
    width: 8.33333%;
  }

  /* line 140, ../scss/vendor/foundation/_grid.scss */
  .small-2 {
    position: relative;
    width: 16.66667%;
  }

  /* line 140, ../scss/vendor/foundation/_grid.scss */
  .small-3 {
    position: relative;
    width: 25%;
  }

  /* line 140, ../scss/vendor/foundation/_grid.scss */
  .small-4 {
    position: relative;
    width: 33.33333%;
  }

  /* line 140, ../scss/vendor/foundation/_grid.scss */
  .small-5 {
    position: relative;
    width: 41.66667%;
  }

  /* line 140, ../scss/vendor/foundation/_grid.scss */
  .small-6 {
    position: relative;
    width: 50%;
  }

  /* line 140, ../scss/vendor/foundation/_grid.scss */
  .small-7 {
    position: relative;
    width: 58.33333%;
  }

  /* line 140, ../scss/vendor/foundation/_grid.scss */
  .small-8 {
    position: relative;
    width: 66.66667%;
  }

  /* line 140, ../scss/vendor/foundation/_grid.scss */
  .small-9 {
    position: relative;
    width: 75%;
  }

  /* line 140, ../scss/vendor/foundation/_grid.scss */
  .small-10 {
    position: relative;
    width: 83.33333%;
  }

  /* line 140, ../scss/vendor/foundation/_grid.scss */
  .small-11 {
    position: relative;
    width: 91.66667%;
  }

  /* line 140, ../scss/vendor/foundation/_grid.scss */
  .small-12 {
    position: relative;
    width: 100%;
  }

  /* line 144, ../scss/vendor/foundation/_grid.scss */
  .small-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  /* line 144, ../scss/vendor/foundation/_grid.scss */
  .small-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  /* line 144, ../scss/vendor/foundation/_grid.scss */
  .small-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  /* line 144, ../scss/vendor/foundation/_grid.scss */
  .small-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  /* line 144, ../scss/vendor/foundation/_grid.scss */
  .small-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  /* line 144, ../scss/vendor/foundation/_grid.scss */
  .small-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  /* line 144, ../scss/vendor/foundation/_grid.scss */
  .small-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  /* line 144, ../scss/vendor/foundation/_grid.scss */
  .small-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  /* line 144, ../scss/vendor/foundation/_grid.scss */
  .small-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  /* line 144, ../scss/vendor/foundation/_grid.scss */
  .small-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  /* line 144, ../scss/vendor/foundation/_grid.scss */
  .small-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  /* line 147, ../scss/vendor/foundation/_grid.scss */
  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  /* line 148, ../scss/vendor/foundation/_grid.scss */
  [class*="column"] + [class*="column"].end {
    float: left;
  }

  /* line 151, ../scss/vendor/foundation/_grid.scss */
  .column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }
}
/* Styles for screens that are atleast 768px; */
@media only screen and (min-width: 768px) {
  /* line 158, ../scss/vendor/foundation/_grid.scss */
  .large-1 {
    position: relative;
    width: 8.33333%;
  }

  /* line 158, ../scss/vendor/foundation/_grid.scss */
  .large-2 {
    position: relative;
    width: 16.66667%;
  }

  /* line 158, ../scss/vendor/foundation/_grid.scss */
  .large-3 {
    position: relative;
    width: 25%;
  }

  /* line 158, ../scss/vendor/foundation/_grid.scss */
  .large-4 {
    position: relative;
    width: 33.33333%;
  }

  /* line 158, ../scss/vendor/foundation/_grid.scss */
  .large-5 {
    position: relative;
    width: 41.66667%;
  }

  /* line 158, ../scss/vendor/foundation/_grid.scss */
  .large-6 {
    position: relative;
    width: 50%;
  }

  /* line 158, ../scss/vendor/foundation/_grid.scss */
  .large-7 {
    position: relative;
    width: 58.33333%;
  }

  /* line 158, ../scss/vendor/foundation/_grid.scss */
  .large-8 {
    position: relative;
    width: 66.66667%;
  }

  /* line 158, ../scss/vendor/foundation/_grid.scss */
  .large-9 {
    position: relative;
    width: 75%;
  }

  /* line 158, ../scss/vendor/foundation/_grid.scss */
  .large-10 {
    position: relative;
    width: 83.33333%;
  }

  /* line 158, ../scss/vendor/foundation/_grid.scss */
  .large-11 {
    position: relative;
    width: 91.66667%;
  }

  /* line 158, ../scss/vendor/foundation/_grid.scss */
  .large-12 {
    position: relative;
    width: 100%;
  }

  /* line 162, ../scss/vendor/foundation/_grid.scss */
  .row .large-offset-0 {
    position: relative;
    margin-left: 0%;
  }

  /* line 162, ../scss/vendor/foundation/_grid.scss */
  .row .large-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  /* line 162, ../scss/vendor/foundation/_grid.scss */
  .row .large-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  /* line 162, ../scss/vendor/foundation/_grid.scss */
  .row .large-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  /* line 162, ../scss/vendor/foundation/_grid.scss */
  .row .large-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  /* line 162, ../scss/vendor/foundation/_grid.scss */
  .row .large-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  /* line 162, ../scss/vendor/foundation/_grid.scss */
  .row .large-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  /* line 162, ../scss/vendor/foundation/_grid.scss */
  .row .large-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  /* line 162, ../scss/vendor/foundation/_grid.scss */
  .row .large-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  /* line 162, ../scss/vendor/foundation/_grid.scss */
  .row .large-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  /* line 162, ../scss/vendor/foundation/_grid.scss */
  .row .large-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  /* line 162, ../scss/vendor/foundation/_grid.scss */
  .row .large-offset-11 {
    position: relative;
    margin-left: 91.66667%;
  }

  /* line 166, ../scss/vendor/foundation/_grid.scss */
  .push-1 {
    position: relative;
    left: 8.33333%;
    right: auto;
  }

  /* line 167, ../scss/vendor/foundation/_grid.scss */
  .pull-1 {
    position: relative;
    right: 8.33333%;
    left: auto;
  }

  /* line 166, ../scss/vendor/foundation/_grid.scss */
  .push-2 {
    position: relative;
    left: 16.66667%;
    right: auto;
  }

  /* line 167, ../scss/vendor/foundation/_grid.scss */
  .pull-2 {
    position: relative;
    right: 16.66667%;
    left: auto;
  }

  /* line 166, ../scss/vendor/foundation/_grid.scss */
  .push-3 {
    position: relative;
    left: 25%;
    right: auto;
  }

  /* line 167, ../scss/vendor/foundation/_grid.scss */
  .pull-3 {
    position: relative;
    right: 25%;
    left: auto;
  }

  /* line 166, ../scss/vendor/foundation/_grid.scss */
  .push-4 {
    position: relative;
    left: 33.33333%;
    right: auto;
  }

  /* line 167, ../scss/vendor/foundation/_grid.scss */
  .pull-4 {
    position: relative;
    right: 33.33333%;
    left: auto;
  }

  /* line 166, ../scss/vendor/foundation/_grid.scss */
  .push-5 {
    position: relative;
    left: 41.66667%;
    right: auto;
  }

  /* line 167, ../scss/vendor/foundation/_grid.scss */
  .pull-5 {
    position: relative;
    right: 41.66667%;
    left: auto;
  }

  /* line 166, ../scss/vendor/foundation/_grid.scss */
  .push-6 {
    position: relative;
    left: 50%;
    right: auto;
  }

  /* line 167, ../scss/vendor/foundation/_grid.scss */
  .pull-6 {
    position: relative;
    right: 50%;
    left: auto;
  }

  /* line 166, ../scss/vendor/foundation/_grid.scss */
  .push-7 {
    position: relative;
    left: 58.33333%;
    right: auto;
  }

  /* line 167, ../scss/vendor/foundation/_grid.scss */
  .pull-7 {
    position: relative;
    right: 58.33333%;
    left: auto;
  }

  /* line 166, ../scss/vendor/foundation/_grid.scss */
  .push-8 {
    position: relative;
    left: 66.66667%;
    right: auto;
  }

  /* line 167, ../scss/vendor/foundation/_grid.scss */
  .pull-8 {
    position: relative;
    right: 66.66667%;
    left: auto;
  }

  /* line 166, ../scss/vendor/foundation/_grid.scss */
  .push-9 {
    position: relative;
    left: 75%;
    right: auto;
  }

  /* line 167, ../scss/vendor/foundation/_grid.scss */
  .pull-9 {
    position: relative;
    right: 75%;
    left: auto;
  }

  /* line 166, ../scss/vendor/foundation/_grid.scss */
  .push-10 {
    position: relative;
    left: 83.33333%;
    right: auto;
  }

  /* line 167, ../scss/vendor/foundation/_grid.scss */
  .pull-10 {
    position: relative;
    right: 83.33333%;
    left: auto;
  }

  /* line 166, ../scss/vendor/foundation/_grid.scss */
  .push-11 {
    position: relative;
    left: 91.66667%;
    right: auto;
  }

  /* line 167, ../scss/vendor/foundation/_grid.scss */
  .pull-11 {
    position: relative;
    right: 91.66667%;
    left: auto;
  }

  /* line 171, ../scss/vendor/foundation/_grid.scss */
  .column.large-centered,
  .columns.large-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none !important;
  }

  /* line 174, ../scss/vendor/foundation/_grid.scss */
  .column.large-uncentered,
  .columns.large-uncentered {
    margin-left: 0;
    margin-right: 0;
    float: left !important;
  }

  /* line 181, ../scss/vendor/foundation/_grid.scss */
  .column.large-uncentered.opposite,
  .columns.large-uncentered.opposite {
    float: right !important;
  }
}
/* Wrapped around .top-bar to contain to grid width */
/* line 72, ../scss/vendor/foundation/_top-bar.scss */
.contain-to-grid {
  width: 100%;
  background: #524f4f;
}
/* line 76, ../scss/vendor/foundation/_top-bar.scss */
.contain-to-grid .top-bar {
  margin-bottom: 0;
}

/* line 80, ../scss/vendor/foundation/_top-bar.scss */
.fixed {
  width: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 99;
}
/* line 87, ../scss/vendor/foundation/_top-bar.scss */
.fixed.expanded:not(.top-bar) {
  overflow-y: auto;
  height: auto;
  width: 100%;
  max-height: 100%;
}
/* line 93, ../scss/vendor/foundation/_top-bar.scss */
.fixed.expanded:not(.top-bar) .title-area {
  position: fixed;
  width: 100%;
  z-index: 99;
}
/* line 99, ../scss/vendor/foundation/_top-bar.scss */
.fixed.expanded:not(.top-bar) .top-bar-section {
  z-index: 98;
  margin-top: 90px;
}

/* line 106, ../scss/vendor/foundation/_top-bar.scss */
.top-bar {
  overflow: hidden;
  height: 90px;
  line-height: 90px;
  position: relative;
  background: #524f4f;
  margin-bottom: 0;
}
/* line 115, ../scss/vendor/foundation/_top-bar.scss */
.top-bar ul {
  margin-bottom: 0;
  list-style: none;
}
/* line 120, ../scss/vendor/foundation/_top-bar.scss */
.top-bar .row {
  max-width: none;
}
/* line 123, ../scss/vendor/foundation/_top-bar.scss */
.top-bar form,
.top-bar input {
  margin-bottom: 0;
}
/* line 125, ../scss/vendor/foundation/_top-bar.scss */
.top-bar input {
  height: 2.45em;
}
/* line 127, ../scss/vendor/foundation/_top-bar.scss */
.top-bar .button {
  padding-top: .5em;
  padding-bottom: .5em;
  margin-bottom: 0;
}
/* line 130, ../scss/vendor/foundation/_top-bar.scss */
.top-bar .title-area {
  position: relative;
  margin: 0;
}
/* line 135, ../scss/vendor/foundation/_top-bar.scss */
.top-bar .name {
  height: 90px;
  margin: 0;
  font-size: 16;
}
/* line 140, ../scss/vendor/foundation/_top-bar.scss */
.top-bar .name h1 {
  line-height: 90px;
  font-size: 1.0625em;
  margin: 0;
}
/* line 144, ../scss/vendor/foundation/_top-bar.scss */
.top-bar .name h1 a {
  font-weight: bold;
  color: #dddddd;
  width: 50%;
  display: block;
  padding: 0 30px;
}
/* line 155, ../scss/vendor/foundation/_top-bar.scss */
.top-bar .toggle-topbar {
  position: absolute;
  right: 0;
  top: 0;
}
/* line 160, ../scss/vendor/foundation/_top-bar.scss */
.top-bar .toggle-topbar a {
  color: #dddddd;
  text-transform: uppercase;
  font-size: 0.8125em;
  font-weight: bold;
  position: relative;
  display: block;
  padding: 0 30px;
  height: 90px;
  line-height: 90px;
}
/* line 173, ../scss/vendor/foundation/_top-bar.scss */
.top-bar .toggle-topbar.menu-icon {
  right: 30px;
  top: 50%;
  margin-top: -16px;
  padding-left: 40px;
}
/* line 179, ../scss/vendor/foundation/_top-bar.scss */
.top-bar .toggle-topbar.menu-icon a {
  text-indent: -48px;
  width: 34px;
  height: 34px;
  line-height: 33px;
  padding: 0;
  color: white;
}
/* line 187, ../scss/vendor/foundation/_top-bar.scss */
.top-bar .toggle-topbar.menu-icon a span {
  position: absolute;
  right: 0;
  display: block;
  width: 16px;
  height: 0;
  -webkit-box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
  box-shadow: 0 10px 0 1px white, 0 16px 0 1px white, 0 22px 0 1px white;
}
/* line 208, ../scss/vendor/foundation/_top-bar.scss */
.top-bar.expanded {
  height: auto;
  background: transparent;
}
/* line 212, ../scss/vendor/foundation/_top-bar.scss */
.top-bar.expanded .title-area {
  background: #524f4f;
}
/* line 215, ../scss/vendor/foundation/_top-bar.scss */
.top-bar.expanded .toggle-topbar a {
  color: #888888;
}
/* line 216, ../scss/vendor/foundation/_top-bar.scss */
.top-bar.expanded .toggle-topbar a span {
  -webkit-box-shadow: 0 10px 0 1px #888888, 0 16px 0 1px #888888, 0 22px 0 1px #888888;
  box-shadow: 0 10px 0 1px #888888, 0 16px 0 1px #888888, 0 22px 0 1px #888888;
}

/* line 234, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section {
  left: 0;
  position: relative;
  width: auto;
  -webkit-transition: left 300ms ease-out;
  -moz-transition: left 300ms ease-out;
  transition: left 300ms ease-out;
}
/* line 240, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section ul {
  width: 100%;
  height: auto;
  display: block;
  background: #222222;
  font-size: 16;
  margin: 0;
}
/* line 250, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section .divider,
.top-bar-section [role="separator"] {
  border-bottom: solid 1px #2b2b2b;
  border-top: solid 1px black;
  clear: both;
  height: 1px;
  width: 100%;
}
/* line 259, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section ul li > a {
  display: block;
  width: 100%;
  color: #dddddd;
  padding: 12px 0 12px 0;
  padding-left: 30px;
  font-size: 0.8125em;
  font-weight: normal;
  background: #222222;
}
/* line 269, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section ul li > a.button {
  background: #f0523f;
  font-size: 0.8125em;
  padding-right: 30px;
  padding-left: 30px;
}
/* line 274, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section ul li > a.button:hover {
  background: #ea2912;
}
/* line 278, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section ul li > a.button.secondary {
  background: #e9e9e9;
}
/* line 280, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section ul li > a.button.secondary:hover {
  background: #d0d0d0;
}
/* line 284, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section ul li > a.button.success {
  background: #5da423;
}
/* line 286, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section ul li > a.button.success:hover {
  background: #457a1a;
}
/* line 290, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section ul li > a.button.alert {
  background: #c60f13;
}
/* line 292, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section ul li > a.button.alert:hover {
  background: #970b0e;
}
/* line 300, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section ul li:hover > a {
  background: black;
  color: white;
}
/* line 306, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section ul li.active > a {
  background: #524f4f;
  color: #f0523f;
}
/* line 313, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section .has-form {
  padding: 30px;
}
/* line 316, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section .has-dropdown {
  position: relative;
}
/* line 320, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section .has-dropdown > a:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: inset 5px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.5);
  border-left-style: solid;
  margin-right: 30px;
  margin-top: -4.5px;
  position: absolute;
  top: 50%;
  right: 0;
}
/* line 332, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section .has-dropdown.moved {
  position: static;
}
/* line 333, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section .has-dropdown.moved > .dropdown {
  display: block;
}
/* line 340, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section .dropdown {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
  z-index: 99;
}
/* line 347, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section .dropdown li {
  width: 100%;
  height: auto;
}
/* line 351, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section .dropdown li a {
  font-weight: normal;
  padding: 8px 30px;
}
/* line 354, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section .dropdown li a.parent-link {
  font-weight: normal;
}
/* line 359, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section .dropdown li.title h5 {
  margin-bottom: 0;
}
/* line 360, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section .dropdown li.title h5 a {
  color: #dddddd;
  line-height: 45px;
  display: block;
}
/* line 368, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-section .dropdown label {
  padding: 8px 30px 2px;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #555555;
  font-weight: bold;
  font-size: 0.625em;
}

/* line 380, ../scss/vendor/foundation/_top-bar.scss */
.top-bar-js-breakpoint {
  width: 940px !important;
  visibility: hidden;
}

/* line 384, ../scss/vendor/foundation/_top-bar.scss */
.js-generated {
  display: block;
}

@media only screen and (min-width: 940px) {
  /* line 389, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar {
    background: #524f4f;
    *zoom: 1;
    overflow: visible;
  }
  /* line 121, ../scss/vendor/foundation/_global.scss */
  .top-bar:before, .top-bar:after {
    content: " ";
    display: table;
  }
  /* line 122, ../scss/vendor/foundation/_global.scss */
  .top-bar:after {
    clear: both;
  }
  /* line 394, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar .toggle-topbar {
    display: none;
  }
  /* line 396, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar .title-area {
    float: left;
  }
  /* line 397, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar .name h1 a {
    width: auto;
  }
  /* line 400, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar input,
  .top-bar .button {
    line-height: 2em;
    font-size: 0.875em;
    height: 2em;
    padding: 0 10px;
    position: relative;
    top: 8px;
  }
  /* line 409, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar.expanded {
    background: #524f4f;
  }

  /* line 412, ../scss/vendor/foundation/_top-bar.scss */
  .contain-to-grid .top-bar {
    max-width: 62.5em;
    margin: 0 auto;
    margin-bottom: 0;
  }

  /* line 418, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section {
    -webkit-transition: none 0 0;
    -moz-transition: none 0 0;
    transition: none 0 0;
    left: 0 !important;
  }
  /* line 422, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section ul {
    width: auto;
    height: auto !important;
    display: inline;
  }
  /* line 427, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section ul li {
    float: left;
  }
  /* line 429, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section ul li .js-generated {
    display: none;
  }
  /* line 435, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section li.hover > a:not(.button) {
    background: black;
    color: white;
  }
  /* line 440, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section li a:not(.button) {
    padding: 0 30px;
    line-height: 90px;
    background: #524f4f;
  }
  /* line 444, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section li a:not(.button):hover {
    background: black;
  }
  /* line 452, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section .has-dropdown > a {
    padding-right: 50px !important;
  }
  /* line 454, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section .has-dropdown > a:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: inset 5px;
    border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
    border-top-style: solid;
    margin-top: -2.5px;
    top: 45px;
  }
  /* line 463, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section .has-dropdown.moved {
    position: relative;
  }
  /* line 464, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section .has-dropdown.moved > .dropdown {
    display: none;
  }
  /* line 468, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section .has-dropdown.hover > .dropdown, .top-bar-section .has-dropdown.not-click:hover > .dropdown {
    display: block;
  }
  /* line 475, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
    border: none;
    content: "\00bb";
    top: 1em;
    margin-top: -7px;
    right: 5px;
  }
  /* line 487, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section .dropdown {
    left: 0;
    top: auto;
    background: transparent;
    min-width: 100%;
  }
  /* line 494, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section .dropdown li a {
    color: white;
    line-height: 1;
    white-space: nowrap;
    padding: 7px 30px;
    background: #1e1e1e;
  }
  /* line 502, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section .dropdown li label {
    white-space: nowrap;
    background: #1e1e1e;
  }
  /* line 508, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section .dropdown li .dropdown {
    left: 100%;
    top: 0;
  }
  /* line 516, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section > ul > .divider, .top-bar-section > ul > [role="separator"] {
    border-bottom: none;
    border-top: none;
    border-right: solid 1px #2b2b2b;
    border-left: solid 1px black;
    clear: none;
    height: 90px;
    width: 0;
  }
  /* line 526, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section .has-form {
    background: #524f4f;
    padding: 0 30px;
    height: 90px;
  }
  /* line 534, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section ul.right li .dropdown {
    left: auto;
    right: 0;
  }
  /* line 538, ../scss/vendor/foundation/_top-bar.scss */
  .top-bar-section ul.right li .dropdown li .dropdown {
    right: 100%;
  }

  /* line 548, ../scss/vendor/foundation/_top-bar.scss */
  .no-js .top-bar-section ul li:hover > a {
    background: black;
    color: white;
  }
  /* line 554, ../scss/vendor/foundation/_top-bar.scss */
  .no-js .top-bar-section ul li:active > a {
    background: #524f4f;
    color: #f0523f;
  }
  /* line 562, ../scss/vendor/foundation/_top-bar.scss */
  .no-js .top-bar-section .has-dropdown:hover > .dropdown {
    display: block;
  }
}
/* ==========================================================================
   Modules
   ========================================================================== */
/* ==========================================================================
   Articles
   ========================================================================== */
/* line 5, ../scss/modules/_articles.scss */
.articles {
  width: 70%;
  padding: 2% 2% 2% 4%;
  max-width: 900px;
  float: left;
}

/* line 12, ../scss/modules/_articles.scss */
article {
  margin-bottom: 30px;
  margin-top: 30px;
}
/* line 16, ../scss/modules/_articles.scss */
article h1 {
  font-weight: 300;
  color: #373737;
  font-size: 3em;
  margin: 0 0 .3em 0;
}
/* line 23, ../scss/modules/_articles.scss */
article h2 {
  font-weight: 400;
  color: #373737;
  font-size: 2em;
  margin: 0 0 .3em 0;
}
/* line 30, ../scss/modules/_articles.scss */
article h3 {
  font-weight: 300;
  color: #373737;
  font-size: 1.3em;
  margin: 0 0 .3em 0;
}
/* line 37, ../scss/modules/_articles.scss */
article p {
  font-weight: 300;
  color: #373737;
  font-size: 1.1em;
  line-height: 2;
}
/* line 44, ../scss/modules/_articles.scss */
article p a {
  color: #aaa;
}
/* line 46, ../scss/modules/_articles.scss */
article p a:hover {
  color: #373737;
}
/* line 51, ../scss/modules/_articles.scss */
article .more {
  position: relative;
  display: block;
  border-bottom: 1px solid #dbdbdb;
  text-align: center;
}
/* line 58, ../scss/modules/_articles.scss */
article .more span {
  z-index: 500;
  font-weight: 300;
  padding: 0.3rem 1.3rem;
  background: white;
  position: relative;
  top: 0.4rem;
  font-size: .8em;
  color: #373737;
}
/* line 67, ../scss/modules/_articles.scss */
article .more span:hover span {
  border: 1px solid #dbdbdb;
}
/* line 71, ../scss/modules/_articles.scss */
article .meta li {
  text-shadow: none;
}

/* ==========================================================================
   BUTTONS
   ========================================================================== */
/* line 5, ../scss/modules/_buttons.scss */
.button {
  text-align: center;
  background: #f0523f;
  padding: 10px;
  border: none;
}

/* line 13, ../scss/modules/_buttons.scss */
.button.full {
  width: 100%;
}

/* ==========================================================================
   CATEGORIES
   ========================================================================== */
/* line 7, ../scss/modules/_categories.scss */
.categories ul, .categories li {
  padding: 0;
  list-style-type: none;
}
/* line 12, ../scss/modules/_categories.scss */
.categories li a {
  font-size: .9em;
  display: block;
  padding: 8px 10px;
  color: #524f4f;
  border-bottom: 1px solid #dbdbdb;
}
/* line 18, ../scss/modules/_categories.scss */
.categories li a:hover {
  color: white;
  background: #524f4f;
}

/* ==========================================================================
   CONTRIBUTORS
   ========================================================================== */
/* ==========================================================================
   HEADER
   ========================================================================== */
/* line 5, ../scss/modules/_header.scss */
header {
  background-color: #524f4f;
  padding: 0 2em;
  position: relative;
}

/* line 13, ../scss/modules/_header.scss */
.top-bar {
  padding-right: 30px;
  margin-bottom: 0;
}
/* line 16, ../scss/modules/_header.scss */
.top-bar .logo {
  width: 64px;
}

/* line 21, ../scss/modules/_header.scss */
.main-nav {
  text-transform: uppercase;
  letter-spacing: 0.09em;
}
/* line 24, ../scss/modules/_header.scss */
.main-nav a {
  height: 87px;
}
/* line 26, ../scss/modules/_header.scss */
.main-nav a:hover {
  color: #f0523f;
}

/* line 32, ../scss/modules/_header.scss */
.login {
  background-color: transparent !important;
  position: relative;
  top: -3px;
}
/* line 36, ../scss/modules/_header.scss */
.login a {
  color: #eee !important;
}

/* ==========================================================================
   HERO SECTION
   ========================================================================== */
/* line 5, ../scss/modules/_hero-section.scss */
.hero-section {
  background-color: #f0523f;
  border-bottom: 2px solid #fff;
  clear: both;
  float: left;
  width: 100%;
}
/* line 11, ../scss/modules/_hero-section.scss */
.hero-section .description {
  width: 40%;
  float: left;
  color: #fff;
  padding: 4% 5% 5%;
}
/* line 16, ../scss/modules/_hero-section.scss */
.hero-section .description h1 {
  color: #fff;
}
/* line 19, ../scss/modules/_hero-section.scss */
.hero-section .description a {
  color: #fff;
  text-decoration: underline;
}
/* line 22, ../scss/modules/_hero-section.scss */
.hero-section .description a:hover {
  color: #524f4f;
  text-shadow: none;
}
/* line 28, ../scss/modules/_hero-section.scss */
.hero-section .posts {
  float: left;
  color: #fff;
  width: 60%;
  padding: 4% 5% 2% 5%;
}
/* line 33, ../scss/modules/_hero-section.scss */
.hero-section .posts a {
  color: #fff;
  text-decoration: underline;
}
/* line 36, ../scss/modules/_hero-section.scss */
.hero-section .posts a:hover {
  color: #524f4f;
  text-shadow: none;
}

/* line 44, ../scss/modules/_hero-section.scss */
.hero-section .dark {
  background-color: #ef4531;
}

/* line 48, ../scss/modules/_hero-section.scss */
.hero-section .darker {
  background-color: #ee3823;
}

/* ==========================================================================
   META
   ========================================================================== */
/* line 5, ../scss/modules/_meta.scss */
.meta {
  margin: 0;
}
/* line 8, ../scss/modules/_meta.scss */
.meta .meta i {
  padding: 0 3px 0 0;
}
/* line 12, ../scss/modules/_meta.scss */
.meta li {
  font-size: 13px;
  display: inline;
  padding: 0 10px 0 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 19, ../scss/modules/_meta.scss */
.meta li a {
  color: white;
}
/* line 21, ../scss/modules/_meta.scss */
.meta li a:hover {
  color: #524f4f;
}

/* ==========================================================================
   POST
   ========================================================================== */
/* line 5, ../scss/modules/_post.scss */
.post {
  padding: 0 0 13px 0;
  margin: 0 0 13px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 9, ../scss/modules/_post.scss */
.post h3 {
  font-size: 20px;
  font-weight: 500;
  color: white;
  margin: 0;
  padding: 0;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
/* line 18, ../scss/modules/_post.scss */
.post h3 a {
  color: white;
}
/* line 20, ../scss/modules/_post.scss */
.post h3 a:hover {
  color: #524f4f;
  text-shadow: none;
}
/* line 26, ../scss/modules/_post.scss */
.post:last-child {
  border: none;
}

/* ==========================================================================
   TAGS
   ========================================================================== */
/* line 5, ../scss/modules/_sidebar.scss */
.sidebar {
  width: 25%;
  padding: 2%;
  float: left;
  border-right: 1px solid #dbdbdb;
}
