/* ==========================================================================
   Articles
   ========================================================================== */

#articles {
    width:70%;
    padding: 2% 2% 2% 4%;
    max-width: 900px;
    float: left;
}

article
{
    margin-bottom: 30px;
    margin-top: 30px;

    h1 {
        font-weight: 300;
        color:#373737;
        font-size:3em;
        margin: 0 0 .3em 0;
    }

    h2 {
        font-weight: 400;
        color:#373737;
        font-size:2em;
        margin: 0 0 .3em 0;
    }

    h3 {
        font-weight: 300;
        color:#373737;
        font-size:1.3em;
        margin: 0 0 .3em 0;
    }

    p {
        font-weight: 300;
        color:#373737;
        font-size:1.1em;
        line-height: 2;
    }

    p a {
        color:#aaa;
    }

    p a:hover {
        color:#373737;
    }

    .more {
        position: relative;
        display: block;
        border-bottom: 1px solid #dbdbdb;
        text-align: center;
    }

    .more span {
        z-index: 500;
        font-weight: 300;
        padding: 0.3rem 1.3rem;
        background:white;
        position: relative;
        top:0.4rem;
        font-size: .8em;
        color:#373737;
    }

    .more:hover span {
        border:1px solid #dbdbdb;
    }

    .meta li {
        text-shadow: none;
    }
}




