.sponsors-list {
    @apply w-full flex flex-wrap items-center justify-center;
}

.sponsors-list div {
    @apply w-1/2 px-4 flex justify-center mb-4;
}

.bsa-cpc #_default_ {
    @apply relative p-2 rounded bg-gray-300;
}

.bsa-cpc .default-ad,
.bsa-cpc .default-image {
    @apply hidden;
}

.bsa-cpc .default-title:before {
    @apply relative text-xs text-green-primary uppercase border border-green-primary rounded p-1 mr-2;
    top: -1px;
    content: "Sponsor";
}

.bsa-cpc .default-title:after {
    content: "\A0\2014\A0";
}

@screen md {
    .sponsors-list div {
        @apply w-1/4;
    }
}

ins {
    min-width: 300px;
    min-height: 50px;
    max-width: 100%;
    @apply max-w-full text-center my-4 mx-auto;
}