@import 'alerts.css';
@import 'advertising.css';
@import 'buttons.css';
@import 'footer.css';
@import 'forms.css';
@import 'labels.css';
@import 'legals.css';
@import 'modal.css';
@import 'pagination.css';
@import 'replies.css';
@import 'tables.css';
@import 'tags.css';
@import 'threads.css';

/*a:hover {*/
/*    @apply underline;*/
/*}*/

pre .hljs {
    @apply text-sm rounded p-4 border-2;
}

.forum-content code {
    background: #f8f8f8;
    color: #333;
}

svg .primary {
    @apply text-gray-800 fill-current;
}

svg .secondary {
    @apply text-green-primary fill-current;
}

[x-cloak] {
    display: none;
}

nav ul.dashboard-nav {
    @apply flex;
}

nav ul.dashboard-nav li {
    @apply pb-2;
}

nav ul.dashboard-nav li button {
    @apply outline-none;
}

nav ul.dashboard-nav li.active {
    @apply border-b-2 border-green-primary;
}
