footer {
    @apply flex flex-wrap items-center justify-center text-sm text-gray-600 p-8 border-t;
}

footer a {
    @apply text-green-darker;
}

footer span,
footer i {
    @apply mx-1;
}

@screen md {
    footer {
        @apply text-base;
    }
}
