.home .jumbotron {
    background-color: white;
}
.home .logo {
    padding: 10px;
}
.home .logo img {
    width: 40vw;
}
.home h2 {
    color: #748084;
}

@media (max-width: 767px) {
    .home h2 {
        font-size: 1.4em;
    }
}
@media (min-width: 767px) {
    .home .logo img {
        width: 20vw;
    }
    .home h2 {
        color: #748084;
    }
}
