.home .jumbotron {
    background: none;
}
.home .logo {
    padding: 10px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.home .logo img {
    width: 20vw;
}
.home h2 {
    color: #d82147;
}

.home h4 {
    color: #ebedf3;
}

body.home {
    background-image: url("/images/bg_image.png");
    background-size: cover;
}

@media (max-width: 767px) {

}
@media (min-width: 767px) {
    .home .logo img {
        width: 15vw;
    }
}
