.home .jumbotron {
    background-color: white;
}
.home .logo {
    padding: 10px;
}
.home .logo img {
    max-width: 75%;
}
.home h2 {
    color: #748084;
}

@media (max-width: 767px) {
    .home h2 {
        font-size: 1.4em;
    }
}
@media (min-width: 400px) {
    .home .logo img {
        max-width: 400px;
    }
    .home h2 {
        color: #748084;
    }
}
