.navbar-nav > li > a.profile-image {
    padding-top: 15px;
    padding-bottom: 15px;
}

.dropdown-menu li span {
    display: block;
    padding: 3px 20px;
    clear: both;
    white-space: nowrap;
}

@media (max-width: 767px) {
    .dropdown-menu li span {
        color: #fff;
    }
}

.dropdown-icon {
    margin-right: 5px;
}