.profile-user-info {
    padding-top: 25px;
    text-align: center;

    .profile-user-bio {
        margin: 5px auto;
        max-width: 300px;
    }
}

.profile-user-info h2 {
    font-size: 30px;
}
.profile-social-icons {
    font-size: 24px;
}
.profile-latest-items h3 {
    margin-bottom: 30px;
    text-align: center;
}

