// 3rd Party Libraries
//@import "../../../node_modules/bootswatch/paper/variables";
@import "variables";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../../node_modules/bootswatch/paper/bootswatch";
@import "../../../node_modules/selectize-scss/src/selectize.bootstrap3";
@import "../../../node_modules/bootstrap-markdown/css/bootstrap-markdown.min";
@import "../../../node_modules/prismjs/themes/prism.css";

// Components
@import "carbon";
@import "dashboard";
@import "footer";
@import "forum";
@import "home";
@import "nav";
@import "profile";
@import "search";
@import "wysiwyg";


body {
  margin-top: 65px;
  margin-bottom: 65px;
  -moz-osx-font-smoothing: grayscale;
}

.selectize-input.items .item {
  background: $brand-primary !important;
  color: #fff !important;
}

.members-list {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.member-item {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
  display:flex;
  flex-direction: row;
  height: 100px;

  .flex {
    flex-grow: 1;
  }

  .member {
    align-self: center;
  }

  .username {
    font-size: 1.8em;
    display: block;
    text-decoration: none;
    color: #2a2a2a;
    line-height: 1em;
  }

  .avatar {
    align-self: center;
    border-radius: 50%;
    margin-right: 1.5em;
  }

  .social_links {
    padding: 1.5em;
    align-self: flex-end;
    display: flex;
    flex-direction: row;

    a {
      display: block;

      i {
        width: 32px;
      }
    }
  }
}