/* ==========================================================================
   HEADER
   ========================================================================== */

header {
    background-color: $lioGrey;
    // padding: 100px 0;
    // border-bottom: 2px solid lighten($lioGrey, 20%);
    padding: 0 2em;
    position: relative;
}

.top-bar {
    padding-right: 30px;
    margin-bottom: 0;
    .logo {
        width: 64px;
    }
}

.main-nav {
    text-transform: uppercase;
    letter-spacing: 0.09em;
    a {
        height: 87px;
        &:hover {
            color: $lioRed;
        }
    }
}

.login {
    background-color: transparent !important;
    position: relative;
    top: -3px;
    a {
        color: #eee !important;
    }
}