/* ==========================================================================
   MOBILE FIRST MODULE SKELETON
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////


    article {
        background: white;
        position: relative;
        @include clearfix;
        padding: 15px;
        margin: 15px;

        h2 {
            margin:0;
            padding: 0 0 3px 0;
            font-size:18px;
            color:$lioGrey;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
            max-width: 90%;

            a {
                color:$lioGrey;

                &:hover {
                    color:$lioRed;
                }
            }
        }

        p {
            line-height: 1.5;
        }

        ul, li {
            margin: 0;
            padding: 0;
        }

        li {
            margin: 0 0 0 15px;
            line-height: 1.5;
        }

        img {
            max-width: 100%;
        }
    }

    .article-summary {
        margin: 0 0 15px 0;
    }



// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .module {}

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {


}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}