/* ==========================================================================
   MOBILE FIRST MODULE SKELETON
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////

.auth {
    padding: 2%;


    &.woops {
        text-align: center;
    }

    .user {
        @include clearfix;
    }

    h1 {
        font-size:30px;
        font-weight: 600;
        text-align: center;
        line-height: 1.3;
        padding: 0 0 20px 0;
    }

    img {
        float: left;
        @include span-columns(3);
    }

    .bio {
        float: left;
        @include span-columns(9);

            h2 {
                padding: 0 0 0 10px;
                font-weight: 600;
                font-size:22px;
            }

            h3 {
                font-size:14px;
                padding: 0 0 0 10px;
            }

            .button {
                font-size:14px;
                margin: 15px 0 0 10px;
            }
        }
}


// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .auth {
        width:500px;
        margin: auto;
    }

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {

    .module {}
}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}