$orange_button_bg: #f0523f;
$orange_button_bg_hover: #c73e2d;
$sidebar_transition: 0.5s ease;

body.bin {
    background: #1D1F21;
    -webkit-font-smoothing: antialiased;

    #copy-data {
        position: absolute;
        right: -200%;
    }

    .show-container {
        -ms-word-break: break-all;
        word-break: break-all;

        // Non standard for webkit
        word-break: break-word;

        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;

        overflow-x: scroll;
    }

    .prettyprint {
        border: 0;
        margin: 3em 0 0 0;
        padding: 0;
        padding-bottom: 300px;

        .linenums {
            color: #a0a0a0;

            li {
                padding: 4px 0;
            }

            li.selected {
                background: #383838;
            }
        }
    }

    .editor {
        background: transparent;
        border: 0;
        color: #fff;
        font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
        font-size: 12px;
        -webkit-font-smoothing: antialiased;
        height: 100%;
        line-height: 1.8em;
        margin-top: 1em;
        outline: none;
        padding: 2em;
        position: fixed;
        resize: none;
        width: 100%;
        z-index: 1;
    }

    .show-sidebar {
        background: #444;
        color: #888;
        font-size: 1em;
        height: 3.15em;
        padding: 1em 1em;
        position: fixed;
        right: 0;
        text-align: center;
        transition: right $sidebar_transition;
        top: 0;
        width: 3em;
        z-index: 15;

        &:hover {
            background: #666;
            color: #eee;
        }

        &.show {
            right: 50%;
        }
    }

    .sidebar {
        background: #2d2e2f;
        border: 0;
        box-shadow: -2px 0 3px rgba(black, 0.2);
        -o-box-shadow: -2px 0 3px rgba(black, 0.2);
        -moz-box-shadow: -2px 0 3px rgba(black, 0.2);
        -webkit-box-shadow: -2px 0 3px rgba(black, 0.2);
        color: #fff;
        height: 100%;
        padding: 15px;
        position: fixed;
        right: 0;
        transition: transform $sidebar_transition;
        top: 0;
        width: 50%;
        z-index: 10;

        p {
            margin-bottom: 0;
        }

        .logo {
            display: block;
            margin: auto;
            max-width: 100%;
            padding: 15px 0;
            width: 150px;
        }

        .options {
            border-bottom: 2px solid #747474;
            overflow: hidden;
            margin-bottom: 15px;
            padding-bottom: 15px;

            ul {
                margin: 0;
                padding: 0;

                li {
                    margin-bottom: 10px;
                    width: 100%;
                }

                li:last-child {
                    margin-bottom: 0;
                }
            }
        }

        &.hide {
            transform: translateX(100%);
        }
    }

    .sidebar.create {
        box-shadow: -2px 2px 3px rgba(black, 0.2);
        -o-box-shadow: -2px 2px 3px rgba(black, 0.2);
        -moz-box-shadow: -2px 2px 3px rgba(black, 0.2);
        -webkit-box-shadow: -2px 2px 3px rgba(black, 0.2);
        height: auto;

        .options {
            border: 0;
            margin: 0;
            padding: 0;
        }
    }

    .button {
        background: $orange_button_bg;
        border: 0;
        border-radius: 2px;
        color: #fff;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        outline: none;
        padding: 10px 5px;
        width: 100%;

        .fa {
            font-size: 10px;
            margin-right: 3px;
        }

        &:hover {
            background: $orange_button_bg_hover;
        }
    }

    .button.back {
        .fa {
            font-size: 12px;
        }
    }

    .comments {
        color: #a6a6a6;
        width: 100%;

        h3 {
            color: #fff;
        }
    }

    .toast {
        box-shadow: none !important;
    }

    .toast-info {
        background: rgba(#f0523f, 0.8);
    }

    // BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

    @media only screen and (min-width: 480px) {
        .sidebar {
            width: 30%;
        }

        .show-sidebar.show {
            right: 30%;
        }

        .editor {
            margin-top: 1em;
        }
    }


    // BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

    @media screen and (min-width: 768px) {
    }


    // BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

    @media screen and (min-width: 1024px) {
        .sidebar {
            width: 250px;
        }
        .show-sidebar.show {
            right: 250px;
        }
    }


    // BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

    @media only screen and (min-width: 1440px) {

    }

    // SPECIAL HEIGHT BREAKPOINT
    @media only screen and (max-height: 400px) {
        .sidebar {
            width: 320px;
        }

        .show-sidebar.show {
            right: 320px;
        }

        .sidebar .options ul li {
            float: left;
            margin-right: 5%;
            width: 45%;
        }
    }

}
