/* ==========================================================================
   BUTTONS
   ========================================================================== */

.button {
    text-align: center;
    background: $lioRed;
    padding: 10px;
    border:none;
    color: #fff;
}

.button {
    &.full {
        width: 100%;
    }

    &:hover {
        background: $lioGrey;
    }
}

    .right
    {
        float: right;
    }