/* ==========================================================================
   BUTTONS
   ========================================================================== */

.button {
    text-align: center;
    background: $lioRed;
    padding: 10px;
    border:none;
}

.button {
    &.full {
        width: 100%;
    }
}