/* ==========================================================================
   CATEGORIES
   ========================================================================== */

.categories {

    ul, li {
        padding: 0;
        list-style-type: none;
    }

    li a {
        font-size:.9em;
        display: block;
        padding: 8px 10px;
        color: $secondary-color;
        border-bottom: 1px solid #dbdbdb;
        text-decoration: none;
        &:hover {
            color:white;
            background: $secondary-color;
        }
    }

}