/* ==========================================================================
   MOBILE FIRST MODULE SKELETON
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////

.comments {
    h6.title {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size:14px;
        display: block;
        width:70px;
        background: #cdcdcd;
        margin: auto;
        padding: 5px 10px;
        text-align: center;
    }

    .comment {
        @include clearfix;
        background: white;
        padding: 15px;
        margin: 15px;

        p {
            margin: 0;
            line-height: 1.5;
        }

        ul, li {
            margin: 0;
            padding: 0;
        }

        li {
            margin: 0 0 0 15px;
            line-height: 1.5;
        }

        img {
            max-width: 100%;
        }
    }
}




// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .module {}

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {



}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}