/* ==========================================================================
   MOBILE FIRST MODULE SKELETON
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////

.user-information {
    img {
        float: left
    }
}


.user-content {
    @include span-columns(9);
    padding: 25px 0 0 0;

    h1 {
        font-size:23px;
        padding:0 0 25px 0;
        margin: 0;
        font-weight: 600;
    }

    .comment .content {
        h2
        {
            font-weight: 600;
            font-size:16px;
        }
    }


}

// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .module {}

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {

    .module {}
}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}