/* ==========================================================================
   MOBILE FIRST MODULE SKELETON
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////


.push {
  height: 84px;
}

footer {
    background: #cdcdcd;
    padding: 15px 15px 20px 15px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    margin: 25px 0 0 0;
    line-height: 18px;

    .fortrabbit {
        font-family: Georgia, serif;
        font-weight: bold;
        font-style: italic;
        color: #333;
        text-transform: lowercase;
        font-size: 30px;
        display: inline;
    }
    .fortrabbit:hover {
        text-decoration: none;
    }
    .fortrabbit:hover em {
        color: red;
    }

    .cartalyst a {
        font-weight: bold;
        color: #333;
        font-size: 21px;
    }
}


// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {

    .span4 {
        float: left;
        text-align: center;
        width: 33.333333%;
    }

}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .container{
        max-width: 1024px;
        margin: 0 auto;
    }

}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}