/* ==========================================================================
   MOBILE FIRST MODULE SKELETON
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////

.form-row {
    @include span-columns(12);
    margin: 0 0 15px 0;

    label.field-title {
        display: block;
        margin: 0;
        padding: 0 0 10px 0;
        font-size:16px;
        color:$lioGrey;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
    }

    input[type=text] {
        padding: 15px;
        border:none;
        width:100%;
    }

    textarea {
       @include span-columns(12);
       float: none;
       padding: 15px;
       border:none;
    }

    small {
        display: block;
    }

    textarea {
        width:100%;
    }

    button {
        border: none;
    }

    small {
        padding: 10px 0;
        display: block;
        font-size:12px;
    }

    .version {
        margin: 0;
        padding: 0;

        li {
            display: inline;
        }

        label {
            float: left;
            cursor: pointer;
        }

        label.selected {
            background: $lioRed;
            color:white;
        }

        input {
            display: none;
        }
    }

    small.error {
        width:100%;
        padding: 5px;
        background: $lioRed;
        color:white;
    }
}


// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .module {}

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {


}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}