/* ==========================================================================
   FORUM
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////

.forum {
    @include span-columns(12);
    @include omega();
    padding: 2%;
    max-width: 900px;

    h2 {
        font-size:14px;
        padding: 0 0 0 3px;
    }
}

article {
    margin: 2rem 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
    h1 {
        font-size: 12px;
        @extend .gamma;
    }

    h3
    {
        font-size:18px;
    }
}


// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .forum {
        @include span-columns(9);
    }

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {

    .forum {
        @include span-columns(9);
        @include omega();
        max-width: 900px;
    }
}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}