/* ==========================================================================
   FORUM
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////

.form {
    fieldset {
        border: none;
    }

    .button {
        margin: 15px 0 0 0;
    }

        h2 {
            font-size:20px;
            @extend .gamma;
            border-bottom: 1px solid #eee;
            padding: 0 0 13px 0;
        }

        h3 {
            font-size:20px;
            @extend .gamma;
            border-bottom: 1px solid #eee;
            padding: 20px 0 13px 0;
        }

    legend {
        display: block;
        width: 100%;
        padding: 13px 0;
        margin: 0;
        font-size:20px;
        @extend .gamma;
        border-bottom: 1px solid #eee;
        border-top:1px solid #eee;
    }

    .tags {
        margin:0;
        padding: 0;
        @include clearfix;

        li {
            display: inline-block;
            float: left;
            padding: 4px;
            font-size:15px;
        }
    }

    label {
        display: block;
        font-size:15px;
        padding: 6px 0;
        cursor: pointer;
    }

    input[type=text] {
        display: block;
        width: 100%;
        border: none;
        background: #000;
        color:white;
        padding: 10px;
        font-size:15px;
    }

    input[type=textarea] {
        font-size:15px;
    }
}


// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .module {}

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {


}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}