/* ==========================================================================
   MOBILE FIRST MODULE SKELETON
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////

.threads {
    @include span-columns(12);
    float: none;
    padding: 15px 15px 15px 15px;

    .thread-summary {
        position: relative;
        width:100%;
        @include clearfix;
        padding: 12px 20px 12px 10px;
        margin: 0 0 6px 0;

        img {
            display: none;
        }

        h3 {
            margin:0;
            padding: 0 0 3px 0;
            font-size:16px;
            color:$lioGrey;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;
            max-width: 90%;

            a {
                color:$lioGrey;

                &:hover {
                    color:$lioRed;
                }
            }
        }

        ul {
            margin:0;
            padding: 0;
        }

        ul li {
            display: inline;
            float: left;
            color:#959595;
            padding: 0 5px 0 0;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;
            font-style: italic;
        }

        .comment-count {
            min-width:25px;
            position: absolute;
            right:0px;
            top:0px;
            background: #cdcdcd;
            padding: 5px;
            text-align: center;
            color:white;
        }
    }

    .thread-summary {
        background: white;
    }
}

.forum {

    @include span-columns(12);
    float: none;

    .thread {
        padding: 15px;
        margin: 15px;
        background: white;

        h2 {
            padding: 3px 0 15px 0;
            margin: 0;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;
        }

        p {
            margin: 0;
            line-height: 1.5;
        }

        ul, li {
            margin: 0;
            padding: 0;
        }

        li {
            margin: 0 0 0 15px;
            line-height: 1.5;
        }

        img {
            max-width: 100%;
        }

    }
}


// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .module {}

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {

        .threads {
            @include span-columns(12);
                @include clearfix;
            padding: 15px 15px 15px 15px;

            .thread-summary {
                img {
                    float: left;
                    height: auto;
                    width:50px;
                    display: block;
                    padding: 0 10px 0 0;
                }

                h3 {
                    max-width: 100%;
                }

                .info {
                    float: left;
                }

                .comment-count {
                    position: relative;
                    min-width:25px;
                    float: right;
                    background: #cdcdcd;
                    padding: 5px;
                    margin: 6px 0 0 0;
                    text-align: center;
                    color:white;
                }
            }
        }


}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}