/* ==========================================================================
   MOBILE FIRST MODULE SKELETON
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////

body,html {
    background: #ebebeb;
    font-size:13px;
}


// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .module {}

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {

    .holder {
        @include outer-container;
    }

    .test {
        @include span-columns(12);
        @include row(table);
    }

    .sidebar {
        @include span-columns(4);
        padding: 0;
        vertical-align:top;
    }

    .content {
        @include span-columns(8);
        @include reset-display;
        @include clearfix;
    }
}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}