/* ==========================================================================
   MOBILE FIRST MODULE SKELETON
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////


.top-header {
    background: $lioGrey;

    header {
        text-align: center;

        li {
            display: inline;
        }

        @include clearfix;
        padding: 15px 15px;

    }

    .user-navigation {
        padding: 17px 0 0 0;
    }

    .logo {
        padding: 15px 0 15px 5px;
        margin: auto;
        width:125px;
    }
}




// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .module {}

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {

    .top-header {
        .logo {
            float: left;
            padding: 15px 0 15px 5px;
            width:125px;
        }

        header {
            @include clearfix;
            padding: 15px 15px;
            background: $lioGrey;
        }

        .user-navigation {
            padding: 17px 0 0 0;
            float: right;
        }
    }
}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .top-header header {
        max-width: 1200px;
        margin: auto;
    }
}