/* ==========================================================================
   HEADER NAVIGATION (mobile first module)
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////

.top-navigation {
    @include outer-container;
    background-color: $secondary-color;
    position: relative;
}

.top-navigation-logo {
    float:left;
    text-align: center;
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.top-navigation-items {
    float:left;
    margin: 2.25rem 0 0 0.25rem;
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    font-size:0.8rem;
    padding:0;
    li {
        display: inline-block;
        margin:0 1rem;
        a {
            color:#eee;
            text-decoration: none;
            &:hover {
                color: $primary-color;
            }
        }
    }
}

.top-navigation-signin-desktop {
    display: none;
}

.top-navigation-signin-mobile {
    text-align: center;
    list-style: none;
    margin:0;
    padding:0;
    background: darken($secondary-color, 10%);
    li {
        padding: 0.5rem 0;
        font-size:0.9rem;
        a {
            color:#bbb;
            text-decoration: none;
            &:hover {
                color: $primary-color;
            }
        }
    }
}

// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .top-navigation-signin-mobile {
        display: none;
    }
    .top-navigation-signin-desktop {
        display: inline-block;
        text-align: right;
        list-style: none;
        float:right;
        padding:0;
        margin: 1.70rem 1rem 0 0;
        font-size:0.8rem;
        li {
            padding: 0.5rem 0;
            font-size:0.9rem;
            a {
                color:#bbb;
                text-decoration: none;
                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
    .dashboard-word {
        display: none;
    }
}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {

    .top-navigation-logo {
        padding: 0.5rem 0.5rem 0.5rem 1.5rem;
    }
    .top-navigation-items {
        margin: 2.25rem 0 0 0.75rem;
    }
    .top-navigation-signin-desktop {
        margin: 1.75rem 2rem 0 0;
    }
    .dashboard-word {
        display: inline-block;
    }

}