/* ==========================================================================
   MOBILE FIRST MODULE SKELETON
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////

.forum .markdown, .comment .markdown {


    h1,h2,h3,h4,h5,h6,p,li,ul,ol {
        margin: 0;
        padding: 0;
        border:none !important;
        padding: 0 0 3px 0;
    }

    h1,h2,h3,h4,h5 {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight:400;
    }

    h1 {
        font-size:1.4em;
        font-weight: 600;
        padding: 0 0 3px 0;
    }

    h2 {
        font-size:1.3em;
        font-weight: 600;
        padding: 0 0 3px 0;
    }

    h3 {
        font-size:1.2em;
        font-weight: 600;
    }

    h4,h5,h6
    {
        font-size:1.1em;
        font-weight: 600;
    }

    h2 {
        padding: 0;
        margin: 0;
    }

    p {
        margin: 0;
        line-height: 1.7;
        padding: 0 0 14px 0;
    }

    p:last-child {
            padding:0 !important;
        }

    ul {
        margin: 0;
        padding: 0 0 14px 0;
    }

    li {
        margin: 0 0 0 18px;
        line-height: 1.5;
    }

    li p {
        padding: 0;
    }

    blockquote {
        background: #f9f9f9;
        border-left: 5px solid $lioRed;
        margin: 1.5em 0;
        padding: 0.5em 10px;
        quotes: "\201C""\201D""\2018""\2019";
    }
    blockquote:before {
        font-family: 'Source Sans Pro', sans-serif;
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em;
    }
    blockquote p {
        display: inline;
    }
}


// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .module {}

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {


}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}