/* ==========================================================================
   META
   ========================================================================== */

.meta {
    margin:0;

    .meta i {
        padding: 0 3px 0 0;
    }

    li {
        font-size:13px;
        display: inline;
        padding: 0 10px 0 0;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    }

    li a {
        color:white;
        &:hover {
            color:$lioGrey;
        }
    }
}