/* ==========================================================================
   MOBILE FIRST MODULE SKELETON
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////

.module {}


// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .module {}

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {

    .pagination {
        @include clearfix;
        text-align: center;

        ul {
            margin:0;
            padding: 0;
            display: inline-block;
            margin: auto;
        }

        li {
            float: left;
            margin: 0;
            list-style-type: none;
        }

        li a, .disabled, .active {
            display: inline-block;
            padding: 7px 15px;
            font-size: 13px;
            color:$lioGrey;
        }

        a:hover {
            background: $lioRed;
            color:white;
        }

        .active {
            background: #cdcdcd;
            color:white;
        }
    }

}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}