/* ==========================================================================
   POST
   ========================================================================== */

.post {
    padding: 0 0 13px 0;
    margin: 0 0 13px 0;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    h3 {
        font-size:20px;
        font-weight: 500;
        color:white;
        margin: 0;
        padding: 0;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    }

    h3 a {
        color:white;
        &:hover {
            color: $lioGrey;
            text-shadow:none;
        }
    }
}

.post:last-child {
    border:none;
}