/* ==========================================================================
   MOBILE FIRST MODULE SKELETON
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////

.module {}


// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .module {}

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {

    .reply-form {
        @include clearfix;
        padding: 30px 15px;

        h5 {
            margin: 0;
            padding: 0 0 10px 0;
            font-size:16px;
            color:$lioGrey;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;
        }

        textarea {
            width:100%;
        }

        button {
            border: none;
        }

        small {
            padding: 10px 0;
            display: block;
            font-size:12px;
        }
    }

    .login-cta
    {
        @include clearfix;
        padding: 30px 15px;
        text-align: right;

        p {
            font-size:15px;
        }
    }
}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}