/* ==========================================================================
   MOBILE FIRST MODULE SKELETON
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////

.header {
    @include clearfix;
    padding: 19px 15px 18px 15px;
    border-bottom:1px solid #cdcdcd;

    &.double {
        border-top:1px solid #cdcdcd;
    }

    h1 {
        font-size:22px;
        margin: 0;
        float: left;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 800;
    }

    .tags {
        display: block;
        float: left;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-size:16px;
        padding: 5px 0 0 7px;
        font-style: italic;

        a {
            color:$lioGrey;

            &:hover {
                color:$lioRed;
            }
        }
    }

    .button {
        float: right;
    }

    img {
        float: left;
        height: 35px;
    }
}


// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .module {}

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {


}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}