/* ==========================================================================
   MOBILE FIRST MODULE SKELETON
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////

.sidebar {

    border-bottom:1px solid #cdcdcd;

    .search {
        padding: 15px;
        border-bottom:1px solid #cdcdcd;

        input {
            width:100%;
            padding: 10px 15px;
            border:none;
        }
    }

    ul {
        margin:0;
        padding: 10px 10px 10px 5px;
    }

    ul li {
        list-style-type: none;
        margin: 0;
        @include clearfix;

        span {
            padding: 5px 7px;
            margin: 5px;
            background: #cdcdcd;
            color:$lioGrey;
            font-size:11px;
            position: absolute;
            right:3px;
            top:1px;
            text-align: center;
            min-width: 25px;
        }

        a {
            position: relative;
            width:100%;
            display: block;
            padding: 10px 13px;
            color:$lioGrey;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 400;

            &:hover {
                background:$lioRed;
                color:white;

                span {
                    background: $lioGrey;
                    color:white;
                }
            }

            &.active {
                border-right:3px solid $lioRed;
            }
        }
    }

    .write-article {
        border-top:1px solid #cdcdcd;
        padding: 15px;

        h4 {
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: 600;
            font-size:1.2em;
            margin: 0;
        }

        p {
            padding: 0 0 7px 0;
        }
    }
}


// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .module {}

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {

    .sidebar {
        border-right:1px solid #cdcdcd;
        border-bottom:none;
    }
}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}