/* ==========================================================================
   MOBILE FIRST MODULE SKELETON
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////

.solution {
    float: right;
    display: block;
    background: #ebebeb;
    height: 25px;
    padding: 5px 5px 0 5px;
    color:$lioGrey;

    i {
        margin: 0 8px 0 0;
    }

    &:hover {
        background:$lioRed;
        color:white;
    }

    &.accepted {
        background: $lioRed;
        padding: 5px 8px 2px 8px;
        text-align: center;
        color:white;

        &:hover{
            background: #ebebeb;
            color:$lioGrey;
        }

        i {
            margin: 0;
        }
    }
}

.thread-summary {
    .solution {
        float: right;
        margin: 7px 0 0 6px;
    }
}


// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .module {}

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {


}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}

