/* ==========================================================================
   TAGS
   ========================================================================== */

#sidebar {
    width:25%;
    padding: 2%;
    float: left;
    border-right: 1px solid #dbdbdb;
}