/* ==========================================================================
   MOBILE FIRST MODULE SKELETON
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////

.tag {
    display: block;
    padding: 7px;
    background: #cdcdcd;
    text-align: center;
    margin:0 5px 5px 0;
    color:#444444;
    cursor: pointer;

    &.active {
        background: $lioRed;
        color:white;
    }
}

.tags {

    margin: 0;
    padding: 0;

    @include clearfix;

    ._tag_list ul, ._tag_list li {
        margin: 0;
        padding: 0;
    }

    ._tag_list li {
        display: inline;
    }

    .tag {
        float: left;
    }
}

._tag_description_container {

    padding: 15px 0 0 0;

    strong {
        display: block;
        margin: 0;
        padding: 0 0 10px 0;
        font-size:16px;
        color:$lioGrey;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
    }

    li {
        list-style-type: disc;
        padding: 5px 0;
        float: none;
    }
}


// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .module {}

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {


}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}