/* ==========================================================================
   MOBILE FIRST MODULE SKELETON
   ========================================================================== */

// MOBILE STYLES ////////////////////////////////////////////////////////////

.thread .user {
    @include clearfix;
    border-top:1px solid #cdcdcd;
    border-bottom:none;
    padding: 15px 0 0 0;
    margin: 15px 0 0 0;
}

.auth {
    label {
        display: inline-block;
        width: 40px;
    }
    input {
        display: inline-block;
        padding: 5px 7px;
        width: 100%;
        max-width: 300px;
    }
}

.user {
    @include clearfix;
    border-bottom:1px solid #cdcdcd;
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;

    img {
        height: auto;
        width:50px;
        display: block;
        padding: 0 10px 0 0;
    }

    h6 {
        margin:0;
        padding: 0 0 3px 0;
        font-size:16px;
        color:$lioGrey;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;

        a {
            color:$lioGrey;

            &:hover {
                color:$lioRed;
            }
        }
    }

    .info {
        float: left;
    }

    ul {
        margin:0;
        padding: 0;
    }

    li {
        display: inline;
        float: left;
        color:#959595;
        padding: 0 5px 0 0;
        // Something is overwriting this, need to fix it
        margin: 0 !important;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 400;
        font-style: italic;
    }
}

.admin-bar {
    margin: 15px 0 0 0;
    padding: 15px 0 0 0;
    border-top:1px solid #cdcdcd;

    ul, li {
        @include display('flex');
        @include justify-content;
        margin:0 !important;
    }

    a:hover {
        color:$lioGrey;
    }

    li {
        padding: 0 10px 0 0 !important;
        margin: 0 10px 0 0 !important;
        border-right:1px solid #cdcdcd;
    }

    .space {
        @include flex(1);
        border: none;
    }

    li:last-child
    {
        margin-right: 0px !important;
        padding-right: 0px !important;
        border:none;
    }
}

// BREAKPOINT 1 (480) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 480px) {

    .module {}

}


// BREAKPOINT 2 (768) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 768px) {



}


// BREAKPOINT 3 (1024) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1024px) {

    .module {}
}


// BREAKPOINT 4 (1440) ////////////////////////////////////////////////////////////

@media only screen and (min-width: 1440px) {

    .module {}
}
