name: Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  tests:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: yes
          MYSQL_DATABASE: laravel
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.3
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, gd
          coverage: none

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: '22.x'

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-interaction

      - name: Install NPM dependencies
        run: npm ci

      - name: Compile assets
        run: npm run build

      - name: Execute tests
        run: vendor/bin/pest -p
        env:
          DB_CONNECTION: mysql
          DB_COLLATION: utf8mb4_unicode_ci
          DB_DATABASE: laravel
    
  dependabot:
    permissions:
      pull-requests: write
      contents: write
    uses: driesvints/github-workflows/.github/workflows/dependabot.yml@main
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}

  deploy:
    needs: [tests]
    runs-on: ubuntu-latest

    steps:
      - name: Deploy
        if: github.repository == 'laravelio/laravel.io' && github.ref_name == 'main'
        run: curl ${{ secrets.ENVOYER_HOOK }}?sha=${{ github.sha }}
